<!DOCTYPE html>
<html>
<head>
<style>
p.italic {
    font-style: italic;
    text-align: center
}

hr {
    height: 6px;
    background-color: green
}
img {
    display: block;
    margin: 0 auto;
}
h2, h3, h4 {
    text-decoration: underline
    

</style>
</head>
<body>

<h1 align="center">Odudu Ben</h1> 
<hr>
<p class="italic">Welcome to IS445 Homework 2</p>
<img src="Picture1.png" alt="My Cat" style="width:200px;height:200px;"> 
<br>
<h2>Education</h2>
<ul>
    <li>2018, Business Information systems, Cal State Long Beach</li>
    <li>2012, General Eduacation, Long Beach City College</li>

</ul>
<br>
<h3>Working Experience</h3>
<ol>
    <li>Inventory Lead, Paramount Extrusions, 3 Years </li>
    <li>Warehouse associate, MotorHelmets, 2.5 Years</li>
</ol>
<h4>Expectation for this course  </h4>
<p>I want to learn as much as possible about html and CSS. By the end of the course I want to be proficient enough to make a website by myself.
    </p>
</body>
</html>
